@import url(chrome://browser/skin/browser-nonLinux.css);


/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@namespace html url("http://www.w3.org/1999/xhtml");

#menubar-items {
  -moz-box-orient: vertical; /* for flex hack */
}

#main-menubar {
  -moz-box-flex: 1; /* make menu items expand to fill toolbar height */
}

/* Hides the titlebar-placeholder underneath the window caption buttons when we
   are not autohiding the menubar. */
#toolbar-menubar:not([autohide="true"]) + #TabsToolbar > .titlebar-placeholder[type="caption-buttons"] {
  display: none;
}

/* We want a 4px gap between the TabsToolbar and the toolbar-menubar when the
   toolbar-menu is displayed, and a 16px gap when it is not. 1px is taken care
   of by the (light) outer shadow of the tab, the remaining 3/15 are these margins. */
#toolbar-menubar:not([autohide="true"]) ~ #TabsToolbar,
#toolbar-menubar[autohide="true"]:not([inactive]) ~ #TabsToolbar {
  margin-top: 3px;
}

#main-window[tabsintitlebar][sizemode="normal"]:not([inFullscreen])[chromehidden~="menubar"] #toolbar-menubar ~ #TabsToolbar,
#main-window[tabsintitlebar][sizemode="normal"]:not([inFullscreen]) #toolbar-menubar[autohide="true"][inactive] ~ #TabsToolbar {
  margin-top: 15px;
}

#toolbar-menubar:not([autohide="true"]) {
  -moz-binding: url("chrome://browser/content/customizableui/toolbar.xml#toolbar-drag");
}

#main-window[customize-entered][tabsintitlebar]:not([inFullscreen]) #toolbar-menubar[customizing-dragovertarget].customization-target::before,
#main-window[customize-entered][tabsintitlebar]:not([inFullscreen]) #TabsToolbar[customizing-dragovertarget].customization-target::before,
#main-window[customize-entered][tabsintitlebar]:not([inFullscreen]) #toolbar-menubar.customization-target:hover::before,
#main-window[customize-entered][tabsintitlebar]:not([inFullscreen]) #TabsToolbar.customization-target:hover::before {
  outline-color: CaptionText;
}

#navigator-toolbox {
  -moz-appearance: none;
  background-color: transparent;
  border-top: none;
}

#navigator-toolbox::after {
  content: "";
  display: -moz-box;
  -moz-box-ordinal-group: 101; /* tabs toolbar is 100 */
  height: 1px;
  background-color: #A0A0A0;
}

#navigator-toolbox > toolbar {
  -moz-appearance: none;
  border-style: none;
}

#navigator-toolbox > toolbar:not(#toolbar-menubar):not(#TabsToolbar):not(:-moz-lwtheme) {
  background-color: #dadce4;
}

#navigator-toolbox > toolbar:not(#toolbar-menubar):not(#TabsToolbar):not(#nav-bar):not(#addon-bar) {
  overflow: -moz-hidden-unscrollable;
  max-height: 4em;
  transition: min-height 170ms ease-out, max-height 170ms ease-out;
}

#navigator-toolbox > toolbar:not(#toolbar-menubar):not(#TabsToolbar):not(#nav-bar):not(#addon-bar)[collapsed=true] {
  min-height: 0.1px;
  max-height: 0;
  transition: min-height 170ms ease-out, max-height 170ms ease-out, visibility 170ms linear;
}

#navigator-toolbox > toolbar:not(:-moz-any(#TabsToolbar, #toolbar-menubar, #nav-bar, #addon-bar, #status-bar)):not(:-moz-lwtheme) {
  box-shadow: 0px 1px 0px #c0c0c0 inset, 0px 2px 0px #f0f0f0 inset;
  padding : 2px 1px 1px 1px;
}

#navigator-toolbox > toolbar:not(:-moz-any(#TabsToolbar, #toolbar-menubar, #nav-bar, #addon-bar, #status-bar)):-moz-lwtheme {
  padding : 1px;
}

#navigator-toolbox > toolbar:not(#toolbar-menubar):not(#TabsToolbar):not(#nav-bar):not(#addon-bar) {
  overflow: -moz-hidden-unscrollable;
  max-height: 4em;
  transition: min-height 170ms ease-out, max-height 170ms ease-out;
}

#navigator-toolbox > toolbar:not(#toolbar-menubar):not(#TabsToolbar):not(#nav-bar):not(#addon-bar)[collapsed=true] {
  min-height: 0.1px;
  max-height: 0;
  transition: min-height 170ms ease-out, max-height 170ms ease-out, visibility 170ms linear;
}
@media not all and (-moz-windows-compositor),
       not all and (-moz-windows-default-theme) {

  #main-window[tabsintitlebar]:not([inFullscreen]) #toolbar-menubar:not(:-moz-lwtheme),
  #main-window[tabsintitlebar]:not([inFullscreen]) #TabsToolbar:not(:-moz-lwtheme) {
    color: CaptionText;
  }

  #main-window[tabsintitlebar]:not([inFullscreen]) #toolbar-menubar:not(:-moz-lwtheme):-moz-window-inactive,
  #main-window[tabsintitlebar]:not([inFullscreen]) #TabsToolbar:not(:-moz-lwtheme):-moz-window-inactive {
    color: InactiveCaptionText;
  }
  
  #main-window[tabsintitlebar] #main-menubar > menu:not(:-moz-lwtheme) {
    color: inherit;
  }
}

@media not all and (-moz-windows-compositor) {
  #main-window[tabsintitlebar] #titlebar:-moz-lwtheme {
    visibility: hidden;
  }

  #main-window[tabsintitlebar] #titlebar-content:-moz-lwtheme {
    -moz-binding: url("chrome://global/content/bindings/general.xml#windowdragbox");
    visibility: visible;
  }
}

/**
 * In the classic themes, the titlebar has a horizontal gradient, which is
 * problematic for reading the text of background tabs when they're in the
 * titlebar. We side-step this issue by layering our own background underneath
 * the tabs. Unfortunately, this requires a bunch of positioning in order to get
 * text and icons to not appear fuzzy.
 */

@media (-moz-windows-classic) {
  /**
   * We need to bump up the z-index of the tabbrowser-tabs so that they appear
   * over top of the fog we're applying for classic themes, as well as the nav-bar.
   */
  #main-window[tabsintitlebar]:not([sizemode=fullscreen]) #tabbrowser-tabs {
    position: relative;
    z-index: 2;
  }

  #main-window[tabsintitlebar] #TabsToolbar:not(:-moz-lwtheme) {
    position: relative;
  }

  #main-window[tabsintitlebar]:not([sizemode=fullscreen]) #TabsToolbar:not(:-moz-lwtheme)::after {
    /* Because we use placeholders for window controls etc. in the tabstrip,
     * and position those with ordinal attributes, and because our layout code
     * expects :before/:after nodes to come first/last in the frame list,
     * we have to reorder this element to come last, hence the
     * ordinal group value (see bug 853415). */
    -moz-box-ordinal-group: 1001;
    box-shadow: 0 0 50px 8px ActiveCaption;
    content: "";
    display: -moz-box;
    height: 0;
    margin: 0 50px;
    position: absolute;
    pointer-events: none;
    top: 100%;
    /* width: -moz-available;  */
  }

  #main-window[tabsintitlebar]:not([sizemode=fullscreen]) #TabsToolbar:not(:-moz-lwtheme):-moz-window-inactive::after {
    box-shadow: 0 0 50px 8px InactiveCaption;
  }
  
  #main-window[tabsintitlebar]:not([sizemode=fullscreen]) toolbar[customindex]:not(:-moz-lwtheme),
  #main-window[tabsintitlebar]:not([sizemode=fullscreen]) #PersonalToolbar:not(:-moz-lwtheme) {
    position: relative;
  }

  /* Need to constrain the box shadow fade to avoid overlapping layers, see bug 886281. */
  #main-window[tabsintitlebar]:not([sizemode=fullscreen]) #navigator-toolbox:not(:-moz-lwtheme) {
    overflow: -moz-hidden-unscrollable;
  }

  /**
   * When the tabstrip is overflowed, pinned tab separators get position: absolute,
   * which makes the pinned tab separators leak over the nav-bar highlight. Forcing
   * the element to snap to the bottom of the client rect works around the issue.
   */
  #main-window[tabsintitlebar] #tabbrowser-tabs[positionpinnedtabs] > .tabbrowser-tab[pinned]::before {
    bottom: 0px;
  }

  #main-window[tabsintitlebar]:not([sizemode=fullscreen]) #TabsToolbar .toolbarbutton-1 {
    position: relative;
    z-index: 1;
  }

  /**
   * With the tabbrowser-tabs element z-index'd above the nav-bar, we now get the
   * scrollbox button borders leaking over the nav-bar highlight. This transparent bottom
   * border forces the scrollbox button borders to terminate a pixel early, working
   * around the issue.
   */
   
  #main-window[tabsintitlebar]:not([sizemode=fullscreen]) .tabbrowser-arrowscrollbox > .scrollbutton-up,
  #main-window[tabsintitlebar]:not([sizemode=fullscreen]) .tabbrowser-arrowscrollbox > .scrollbutton-down {
    border-bottom: 1px solid transparent;
  }
  
  #main-window[tabsintitlebar][sizemode="normal"] > #tab-view-deck > #browser-panel:-moz-lwtheme {
    /* Render a window top border: */
    background-image: linear-gradient(to bottom,
          ThreeDLightShadow 0, ThreeDLightShadow 1px,
          ThreeDHighlight 1px, ThreeDHighlight 2px,
          ActiveBorder 2px, ActiveBorder 4px, transparent 4px);
  }
  
  /* End classic titlebar gradient */

  #main-window[tabsintitlebar]:not([inFullscreen]) :-moz-any(#TabsToolbar, #toolbar-menubar) toolbarbutton:not(:-moz-lwtheme) {
    color: inherit;
  }
}

/* Render a window top border for lwthemes on WinXP modern themes: */
@media (-moz-windows-theme: luna-blue) {
  #main-window[tabsintitlebar][sizemode="normal"] > #tab-view-deck > #browser-panel:-moz-lwtheme {
      background-image: linear-gradient(to bottom,
        rgb(8, 49, 216) 0, rgb(8, 49, 216) 1px,
        rgb(15, 77, 227) 1px, rgb(15, 77, 227) 2px,
        rgb(22, 106, 238) 2px, rgb(22, 106, 238) 3px,
        rgb(8, 85, 221) 3px, rgb(8, 85, 221) 4px,
        transparent 4px);
  }

  #main-window[tabsintitlebar][sizemode="normal"] > #tab-view-deck > #browser-panel:-moz-lwtheme:-moz-window-inactive {
    background-image: linear-gradient(to bottom,
        rgb(91, 104, 205) 0, rgb(91, 104, 205) 1px,
        rgb(116, 128, 220) 1px, rgb(116, 128, 220) 2px,
        rgb(117, 140, 221) 2px, rgb(117, 140, 221) 4px,
        transparent 4px);
  }
}

@media (-moz-windows-theme: luna-silver) {
  #main-window[tabsintitlebar][sizemode="normal"] > #tab-view-deck > #browser-panel:-moz-lwtheme {
    background-image: linear-gradient(to bottom,
        rgb(102,102,126) 0, rgb(102,102,126) 1px,
        rgb(168,167,191) 1px, rgb(168,167,191) 2px,
        white 2px, white 3px,
        rgb(188,188,207) 3px, rgb(188,188,207) 4px,
        transparent 4px);
  }

  #main-window[tabsintitlebar][sizemode="normal"] > #tab-view-deck > #browser-panel:-moz-lwtheme:-moz-window-inactive {
    background-image: linear-gradient(to bottom,
        rgb(186,186,197) 0, rgb(186,186,197) 1px,
        rgb(236,238,245) 1px, rgb(236,238,245) 2px,
        white 2px, white 3px,
        rgb(215,215,227) 3px, rgb(215,215,227) 4px,
        transparent 4px);
  }
}

@media (-moz-windows-theme: luna-olive) {
  #main-window[tabsintitlebar][sizemode="normal"] > #tab-view-deck > #browser-panel:-moz-lwtheme {
    background-image: linear-gradient(to bottom,
        rgb(139,161,105) 0, rgb(139,161,105) 1px,
        rgb(171, 189, 133) 1px, rgb(171, 189, 133) 2px,
        rgb(164,178,127) 2px, rgb(164,178,127) 3px,
        transparent 3px);
  }

  #main-window[tabsintitlebar][sizemode="normal"] > #tab-view-deck > #browser-panel:-moz-lwtheme:-moz-window-inactive {
    background-image: linear-gradient(to bottom,
        rgb(207, 214, 188) 0, rgb(207, 214, 188) 1px,
        rgb(224, 226, 200) 1px, rgb(224, 226, 200) 2px,
        rgb(214, 216, 190) 2px, rgb(214, 216, 190) 3px,
        transparent 3px);
  }
}

#TabsToolbar:not([collapsed="true"]) + #nav-bar {
  margin-top: -1px; /* Move up into the TabsToolbar for the inner highlight at the top of the nav-bar */
  /* Position the toolbar above the bottom of background tabs */
  position: relative;
  z-index: 1;
}

#nav-bar {
  border-top: 1px solid hsla(209,67%,12%,0.35) !important;
  background-clip: padding-box;
  background-image: linear-gradient(rgba(253,253,253,0.45), rgba(255,255,255,0));
  box-shadow: 0 1px 0 rgba(253,253,253,0.45) inset;
}

@media not all and (-moz-windows-compositor) {
  #TabsToolbar[collapsed="true"] + #nav-bar {
    border-top-style: none !important;
  }
}

#personal-bookmarks {
  min-height: 24px;
}

#print-preview-toolbar {
  border: 1px solid hsla(209,67%,12%,0.35) !important;
  background-image: url(chrome://browser/skin/icons/Tool-background2.png);
  padding : 1px;
}

#browser-bottombox:not(:-moz-lwtheme) {
  background-color: -moz-dialog;
}

/* ::::: titlebar ::::: */

#main-window[sizemode="normal"] > #titlebar {
  -moz-appearance: -moz-window-titlebar;
}

#main-window[sizemode="maximized"] > #titlebar {
  -moz-appearance: -moz-window-titlebar-maximized;
}

@media (-moz-windows-classic) {
  #main-window[tabsintitlebar][sizemode="normal"] > #tab-view-deck > #browser-panel > #navigator-toolbox > #toolbar-menubar {
    margin-top: 4px;
  }
}

/* The button box must appear on top of the navigator-toolbox in order for
 * click and hover mouse events to work properly for the button in the restored
 * window state. Otherwise, elements in the navigator-toolbox, like the menubar,
 * can swallow those events. It will also place the buttons above the fog on
 * themes with Aero Glass.
 */
#titlebar-buttonbox {
  z-index: 1;
}

.titlebar-placeholder[type="caption-buttons"] {
  margin-left: 10px; /* less space needed on XP because there's no Aero Snap */
}

/* titlebar command buttons */

#titlebar-min {
  -moz-appearance: -moz-window-button-minimize;
}

#titlebar-max {
  -moz-appearance: -moz-window-button-maximize;
}

#main-window[sizemode="maximized"] #titlebar-max {
  -moz-appearance: -moz-window-button-restore;
}

#titlebar-close {
  -moz-appearance: -moz-window-button-close;
}

@media not all and (-moz-windows-classic) {
  #titlebar-min {
    -moz-margin-end: 2px;
  }
}

/******************* TABS ***********************/

/* Tabstrip */

#TabsToolbar {
  min-height: 0;
  padding: 0;
  margin-bottom: -1px; /* overlap the nav-bar's top border */
}

/* Use lighter colors of buttons and text in the titlebar on luna-blue */
@media (-moz-windows-theme: luna-blue) {
  #main-window[tabsintitlebar]:not([inFullscreen]) .tabbrowser-arrowscrollbox > .scrollbutton-up,
  #main-window[tabsintitlebar]:not([inFullscreen]) .tabbrowser-arrowscrollbox > .scrollbutton-down {
    list-style-image: url(chrome://browser/skin/tabbrowser/tab-arrow-left-inverted.png);
  }

  #main-window[tabsintitlebar]:not([inFullscreen]) .tabs-newtab-button,
  #main-window[tabsintitlebar]:not([inFullscreen]) #TabsToolbar > #new-tab-button,
  #main-window[tabsintitlebar]:not([inFullscreen]) #TabsToolbar > toolbarpaletteitem > #new-tab-button {
    list-style-image: url(chrome://browser/skin/tabbrowser/newtab-inverted.png);
  }

  #main-window[tabsintitlebar]:not([inFullscreen]) #alltabs-button {
    list-style-image: url("chrome://browser/skin/toolbarbutton-dropdown-arrow-inverted.png");
  }

  #tabbrowser-tabs[movingtab] > .tabbrowser-tab[beforeselected]:not([last-visible-tab])::after,
  .tabbrowser-tab:not([selected]):not([afterselected-visible]):not([afterhovered]):not([first-visible-tab]):not(:hover)::before,
  #tabbrowser-tabs:not([overflow]) > .tabbrowser-tab[last-visible-tab]:not([selected]):not([beforehovered]):not(:hover)::after {
    background-image: url("chrome://browser/skin/tabbrowser/tab-separator-luna-blue.png");
  }
}

/* ::::: fullscreen window controls ::::: */

#window-controls {
  -moz-margin-start: 4px;
}

#minimize-button,
#restore-button,
#close-button {
  list-style-image: url("chrome://global/skin/icons/windowControlsXP.png");
  padding: 0;
}

#minimize-button {
  -moz-image-region: rect(0, 16px, 16px, 0);
}
#minimize-button:hover {
  -moz-image-region: rect(16px, 16px, 32px, 0);
}
#minimize-button:hover:active {
  -moz-image-region: rect(32px, 16px, 48px, 0);
}
#restore-button {
  -moz-image-region: rect(0, 32px, 16px, 16px);
}
#restore-button:hover {
  -moz-image-region: rect(16px, 32px, 32px, 16px);
}
#restore-button:hover:active {
  -moz-image-region: rect(32px, 32px, 48px, 16px);
}
#close-button {
  -moz-image-region: rect(0, 48px, 16px, 32px);
  -moz-appearance: none;
  border-style: none;
  margin: 2px;
}
#close-button:hover {
  -moz-image-region: rect(16px, 48px, 32px, 32px);
}
#close-button:hover:active {
  -moz-image-region: rect(32px, 48px, 48px, 32px);
}

/* Customization mode */

/**
 * This next rule is a hack to disable subpixel anti-aliasing on all
 * labels during the customize mode transition. Subpixel anti-aliasing
 * on Windows with Direct2D layers acceleration is particularly slow to
 * paint, so this hack is how we sidestep that performance bottleneck.
 */
#main-window:-moz-any([customize-entering],[customize-exiting]) label {
  transform: perspective(0.01px);
}

#main-window[customize-entered] > #tab-view-deck {
  background-image: url("chrome://browser/skin/customizableui/customizeMode-gridTexture.png");
  background-attachment: fixed;
}

#main-window[customization-lwtheme] > #tab-view-deck:-moz-lwtheme {
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: fixed;
  /* The image will get set from CustomizeMode.jsm */
  background-image: none;
  background-color: transparent;
}

#main-window[customization-lwtheme]:-moz-lwtheme {
  background-image: url("chrome://browser/skin/customizableui/customizeMode-gridTexture.png");
  background-repeat: repeat;
  background-attachment: fixed;
  background-position: left top;
}

#main-window[customize-entered] #browser-bottombox,
#main-window[customize-entered] #customization-container {
  border-left: 1px solid hsla(209,67%,12%,0.35);
  border-right: 1px solid hsla(209,67%,12%,0.35);
  background-clip: padding-box;
}

#main-window[customize-entered] #browser-bottombox {
  border-bottom: 1px solid hsla(209,67%,12%,0.35);
}

#customization-tipPanel > .panel-arrowcontainer > .panel-arrowbox > .panel-arrow[side="left"] {
  margin-right: -2px;
}

#customization-tipPanel > .panel-arrowcontainer > .panel-arrowbox > .panel-arrow[side="right"] {
  margin-left: -2px;
}

/* End customization mode */


/* Private browsing indicators */

/**
 * Currently, we have two places where we put private browsing indicators on
 * Windows. When tabsintitlebar is enabled, we draw the indicator in the titlebar.
 * When tabsintitlebar is disabled, we draw the indicator at the end of the
 * tabstrip. The titlebar indicator is the fiddliest of the bunch, since we
 * want the bottom border of the image to line up with the bottom of the window
 * caption buttons. That's why there's so much special-casing going on in here.
 */
  
.private-browsing-indicator {
  display: none;
  pointer-events: none;
}

#private-browsing-indicator-titlebar {
  display: block;
  position: absolute;
}

#main-window[privatebrowsingmode=temporary][tabsintitlebar] #private-browsing-indicator-titlebar > .private-browsing-indicator {
  display: block;
}

#main-window[privatebrowsingmode=temporary]:-moz-any([inFullscreen],:not([tabsintitlebar])) #TabsToolbar > .private-browsing-indicator {
  display: -moz-box;
}

#TabsToolbar > .private-browsing-indicator {
  background: url("chrome://browser/skin/privatebrowsing-mask-tabstrip.png") no-repeat center -3px;
  -moz-margin-start: 4px;
  width: 48px;
}

/* Bug 1008183: We're intentionally using the titlebar asset here for fullscreen
 * mode, since the tabstrip "mimics" the titlebar in that case with its own
 * min/max/close window buttons.
 */
#private-browsing-indicator-titlebar > .private-browsing-indicator,
#main-window[inFullscreen] #TabsToolbar > .private-browsing-indicator {
  background: url("chrome://browser/skin/privatebrowsing-mask-titlebar.png") no-repeat center 0px;
  -moz-margin-end: 4px;
  width: 40px;
  height: 20px;
  position: relative;
}


@media (-moz-windows-classic) {
  /* We're intentionally using the titlebar asset here for fullscreen mode.
   * See bug 1008183.
   */
  #private-browsing-indicator-titlebar > .private-browsing-indicator,
  #main-window[inFullscreen] #TabsToolbar > .private-browsing-indicator {
    background-image: url("chrome://browser/skin/privatebrowsing-mask-titlebar-XPVista7.png");
  }
  /**
   * We have to use top instead of background-position in this case, otherwise
   * the bottom of the indicator would get cut off by the bounds of the
   * private-browsing-indicator element.
   */
  #main-window[sizemode="normal"] > #titlebar > #titlebar-content > #titlebar-buttonbox-container > #private-browsing-indicator-titlebar > .private-browsing-indicator {
    top: 4px;
  }
}

@media (-moz-os-version: windows-vista),
       (-moz-os-version: windows-win7) {
  #TabsToolbar > .private-browsing-indicator {
    background-image: url("chrome://browser/skin/privatebrowsing-mask-tabstrip-XPVista7.png");
  }

  /* We're intentionally using the titlebar asset here for fullscreen mode.
   * See bug 1008183.
   */
  #private-browsing-indicator-titlebar > .private-browsing-indicator,
  #main-window[inFullscreen] #TabsToolbar > .private-browsing-indicator {
    background-image: url("chrome://browser/skin/privatebrowsing-mask-titlebar-XPVista7.png");
  }
}

@media (-moz-windows-glass) {
  #main-window[sizemode="normal"] > #titlebar > #titlebar-content > #titlebar-buttonbox-container > #private-browsing-indicator-titlebar > .private-browsing-indicator {
    top: 1px;
  }
  #main-window[sizemode="maximized"] > #titlebar > #titlebar-content > #titlebar-buttonbox-container > #private-browsing-indicator-titlebar > .private-browsing-indicator {
    top: -1px;
  }
}

/**
 * This next block targets Aero Basic, which has different positioning for the
 * window caption buttons, and therefore needs to be special-cased.
 */
@media (-moz-windows-default-theme) {
  @media not all and (-moz-windows-compositor) {
    #main-window[sizemode="normal"] > #titlebar > #titlebar-content > #titlebar-buttonbox-container > #private-browsing-indicator-titlebar > .private-browsing-indicator {
      background-image: url("chrome://browser/skin/privatebrowsing-mask-titlebar-XPVista7-tall.png");
      height: 28px;
    }
  }
}

/* End private browsing indicators */