@import url(chrome://browser/skin/browser-nonLinux.css);


toolbox {
  -moz-appearance: toolbox;
}

#urlbar:-moz-lwtheme:not([focused="true"]),
.searchbar-textbox:-moz-lwtheme:not([focused="true"]) {
  opacity: .9;
}

#navigator-toolbox::after {
  -moz-box-ordinal-group: 101; /* tabs toolbar is 100 */
  background-image: linear-gradient(to top, hsla(0,0%,0%,.15), hsla(0,0%,0%,.15) 1px, hsla(0,0%,100%,.15) 1px, hsla(0,0%,100%,.15) 2px, transparent 3px);
  content: "";
  display: -moz-box;
  height: 2px;
  margin-top: -2px;
  position: relative;
  z-index: 2; /* navbar is at 1 */
}

#navigator-toolbox toolbarbutton:-moz-lwtheme {
  color: inherit;
  text-shadow: inherit;
}

#main-window {
  -moz-appearance: none;
  background-color: #eeeeee;
}

#titlebar-buttonbox > .titlebar-button {
  display: none;
}

/* NB: these would be -moz-margin-start/end if it wasn't for the fact that OS X
 * doesn't reverse the order of the items in the titlebar in RTL mode. */
.titlebar-placeholder[type="caption-buttons"],
#titlebar-buttonbox {
  margin-left: 7px;
  margin-right: 10px;
}

@media (-moz-mac-lion-theme) {
  .titlebar-placeholder[type="fullscreen-button"],
  #titlebar-fullscreen-button {
    margin-right: 7px;
  }
}

#main-window[chromehidden~="toolbar"] > #titlebar {
  padding-top: 22px;
}

#main-window:not(:-moz-lwtheme):not([privatebrowsingmode=temporary]) > #titlebar {
  -moz-appearance: -moz-window-titlebar;
}

#main-window[chromehidden~="toolbar"][chromehidden~="location"][chromehidden~="directories"] {
  border-top: 1px solid rgba(0,0,0,0.65);
}

#navigator-toolbox > toolbar:not(#TabsToolbar):not(#nav-bar):not(:-moz-lwtheme) {
  -moz-appearance: none;
  background: #dadce4;
}

#navigator-toolbox > toolbar:not(:-moz-any(#TabsToolbar, #toolbar-menubar, #nav-bar, #addon-bar, #status-bar)):not(:-moz-lwtheme) {
  box-shadow: 0px 1px 0px #c0c0c0 inset, 0px 2px 0px #f0f0f0 inset;
}

#navigator-toolbox > toolbar:not(:-moz-any(#TabsToolbar, #toolbar-menubar, #nav-bar, #addon-bar, #status-bar)):not(:-moz-lwtheme) {
  padding : 2px 1px 1px 1px;
}

#navigator-toolbox > toolbar:not(:-moz-any(#TabsToolbar, #toolbar-menubar, #nav-bar, #addon-bar, #status-bar)):-moz-lwtheme {
  padding : 1px;
}

#nav-bar {
  -moz-appearance: none;
  background: #dadce4;
  background-image: linear-gradient(rgba(253,253,253,0.45), rgba(255,255,255,0));
  box-shadow: 0 1px 0 rgba(253,253,253,0.45) inset;
  margin-top: -1px;
  /* Position the toolbar above the bottom of background tabs */
  position: relative;
  z-index: 1;
}

@media (min-resolution: 2dppx) {
  #nav-bar {
    background-size: 100px 100px, auto;
  }
}

#main-window[tabsintitlebar] #TabsToolbar:not([collapsed="true"]) + #nav-bar:not(:-moz-lwtheme) {
  border-top: 1px solid hsla(0,0%,0%,.2);
  background-clip: padding-box;
  margin-top: -2px;
  /* Position the toolbar above the bottom of background tabs */
  position: relative;
  z-index: 1;
}

#nav-bar-customization-target {
  padding: 4px;
}

#personal-bookmarks {
  min-height: 17px; /* 16px button height + 1px margin-bottom */
}

#PersonalToolbar {
  padding: 0 4px 2px;
}

#navigator-toolbox > toolbar:not(#TabsToolbar):-moz-lwtheme {
  background-color: rgba(253,253,253,0.45);
  background-image: url(chrome://browser/skin/Toolbar-background-noise.png);
}

/********************** TABS **************************/


#main-window:not(:-moz-lwtheme) > #titlebar {
  padding-top: 9px;
  min-height: 31px;
}

/* We want the titlebar to be unified, but we still want to be able
 * to give #TabsToolbar a background. So we can't set -moz-appearance:
 * toolbar on #TabsToolbar itself. Instead, we set it on a box of the
 * right size which is put underneath #TabsToolbar.
 *
 * Because of Bug 941309, we make sure this pseudoelement always exists,
 * but we only make it visible when we need it.
 */
#navigator-toolbox::before {
  content: '';
  display: block;
  -moz-appearance: toolbar;
  height: calc(31px + 1px);
  margin-bottom: calc(-1px - 31px);
  visibility: hidden;
}

#main-window:not(:-moz-any([privatebrowsingmode=temporary],[customizing])) #navigator-toolbox[inFullscreen]:not(:-moz-lwtheme)::before,
#main-window:not(:-moz-any([privatebrowsingmode=temporary],[customizing],[tabsintitlebar])) #navigator-toolbox:not(:-moz-lwtheme)::before {
  visibility: visible;
}

#TabsToolbar {
  position: relative;
  -moz-appearance: none;
  background-repeat: repeat-x;
}

#TabsToolbar:not(:-moz-lwtheme) {
  color: #333;
  text-shadow: 0 1px rgba(255, 255, 255, .4);
}

/*
 * Draw the bottom border of the tabstrip when core doesn't do it for us.
 * Because of Bug 941309, we make sure this pseudoelement always exists,
 * but we only make it visible when we need it.
 */
#TabsToolbar::after {
  content: '';
  /* Because we use placeholders for window controls etc. in the tabstrip,
   * and position those with ordinal attributes, and because our layout code
   * expects :before/:after nodes to come first/last in the frame list,
   * we have to reorder this element to come last, hence the
   * ordinal group value (see bug 853415). */
  -moz-box-ordinal-group: 1001;
  position: absolute;
  bottom: 1px;
  left: 0;
  right: 0;
  z-index: 0;
  border-bottom: 1px solid hsla(0,0%,0%,.3);
  visibility: hidden;
}

#main-window:-moz-any([privatebrowsingmode=temporary],[sizemode="fullscreen"],[customize-entered]) #TabsToolbar::after,
#main-window:not([tabsintitlebar]) #TabsToolbar::after,
#TabsToolbar:-moz-lwtheme::after {
  visibility: visible;
}

#tabbrowser-tabs {
  -moz-box-align: stretch;
}

/* Lion Fullscreen window styling */
@media (-moz-mac-lion-theme) {
  #navigator-toolbox[inFullscreen]:not(:-moz-lwtheme)::before {
    height: calc(31px + 11px) !important;
  }
  #main-window[inFullscreen][privatebrowsingmode=temporary],
  #main-window[inFullscreen]:-moz-lwtheme {
    /* This additional padding matches the change in height in the pseudo-element
     * above. */
    padding-top: 11px;
  }
  #main-window[inFullscreen]:not([privatebrowsingmode=temporary]):-moz-lwtheme {
    /* In combination with the previous rule, forces the top 22px of the
     * background image to be hidden, so the image doesn't jump around with
     * the loss of the titlebar. */
    background-position: right -11px;
  }
}

/* ----- FULLSCREEN WINDOW CONTROLS ----- */

#minimize-button,
#close-button,
#fullscreen-button ~ #window-controls > #restore-button {
  display: none;
}

/* Customization mode */

#main-window[customizing] {
  background-color: rgb(178,178,178);
}

#main-window[tabsintitlebar][customize-entered] > #titlebar,
#main-window[privatebrowsingmode=temporary]:not([tabsintitlebar])[customize-entered] > #titlebar,
#main-window[customize-entered] > #tab-view-deck {
  background-image: url("chrome://browser/skin/customizableui/customizeMode-gridTexture.png"),
                    url("chrome://browser/skin/customizableui/background-noise-toolbar.png"),
                    linear-gradient(to bottom, rgb(233,233,233), rgb(178,178,178) 40px);
  background-attachment: fixed;
}

#main-window[tabsintitlebar][customization-lwtheme] > #titlebar:-moz-lwtheme,
#main-window[customization-lwtheme] > #tab-view-deck:-moz-lwtheme {
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: fixed;
  /* The image will get set from CustomizeMode.jsm */
  background-image: none;
  background-color: transparent;
}

#main-window[customization-lwtheme]:-moz-lwtheme {
  background-image: url("chrome://browser/skin/customizableui/customizeMode-gridTexture.png"),
                    url("chrome://browser/skin/customizableui/background-noise-toolbar.png");
  background-color: rgb(178,178,178);
  background-repeat: repeat;
  background-attachment: fixed;
  background-position: left top;
}

#main-window[customize-entered] #browser-bottombox,
#main-window[customize-entered] #navigator-toolbox > toolbar:not(#TabsToolbar),
#main-window[customize-entered] #customization-container {
  border: 3px solid hsla(0,0%,0%,.1);
  border-top-width: 0;
  background-clip: padding-box;
  background-origin: padding-box;
  -moz-border-right-colors: hsla(0,0%,0%,.05) hsla(0,0%,0%,.1) hsla(0,0%,0%,.2);
  -moz-border-bottom-colors: hsla(0,0%,0%,.05) hsla(0,0%,0%,.1) hsla(0,0%,0%,.2);
  -moz-border-left-colors: hsla(0,0%,0%,.05) hsla(0,0%,0%,.1) hsla(0,0%,0%,.2);
}

#main-window[customize-entered] #customization-container,
#main-window[customize-entered] #navigator-toolbox > toolbar:not(#TabsToolbar) {
  border-bottom-width: 0;
}

#main-window[customize-entered] #TabsToolbar {
  margin-top: 1px;
  background-clip: padding-box;
  border-right: 3px solid transparent;
  border-left: 3px solid transparent;
}

/* End customization mode */

/************************ Private browsing *********************************/

#main-window[privatebrowsingmode=temporary] {
  background-image: url("chrome://browser/skin/privatebrowsing-mask.png");
  background-position: top right;
  background-repeat: no-repeat;
  background-color: -moz-mac-chrome-active;
}

@media (min-resolution: 2dppx) {
  #main-window[privatebrowsingmode=temporary] {
    background-image: url("chrome://browser/skin/privatebrowsing-mask@2x.png");
    background-size: 38px;
  }
}

#main-window[privatebrowsingmode=temporary] {
  background-position: top right 20px;
}

/* Note that the caption and fullscreen buttons stay in the same position for LTR and RTL but we
   move the private browsing indicator to the left in RTL. */
#main-window[privatebrowsingmode=temporary]:-moz-locale-dir(rtl) {
  background-position: top left 70px;
}

#main-window[privatebrowsingmode=temporary][inFullscreen]:-moz-locale-dir(rtl) {
  background-position: top left 10px;
}

#main-window[privatebrowsingmode=temporary][inFullscreen] .titlebar-placeholder[type="fullscreen-button"]:-moz-locale-dir(ltr) {
  /* Override display:none for .titlebar-placeholder in fullscreen so we can have consistent
     position and padding for the private browsing indicator. */
  display: -moz-box;
}

#main-window[privatebrowsingmode=temporary]:-moz-window-inactive {
  background-color: -moz-mac-chrome-inactive;
}

#main-window[privatebrowsingmode=temporary] #TabsToolbar {
  -moz-padding-end: 46px;
}

@media (-moz-mac-lion-theme) {
  #main-window[privatebrowsingmode=temporary] #TabsToolbar:-moz-locale-dir(ltr) {
    -moz-padding-end: 36px;
  }
}

@media not all and (-moz-mac-lion-theme) {
  /* There is no OS fullscreen button prior to Lion so the PB indicator can move closer. */
  #main-window[privatebrowsingmode=temporary] {
    background-position: top right 10px;
  }
}