@import url(chrome://os_special/skin/popup.css);

/* ::::: Variables ::::: */
.panel-arrowcontent {
  --panel-arrowcontent-padding: 10px;
  --panel-arrowcontent-background: -moz-field;
  --panel-arrowcontent-color: -moz-FieldText;
  --panel-arrowcontent-border: 1px solid ThreeDShadow;
}